.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps .row > .right hr{
  display: none;
}
#steps .row > .left hr{
  display: none;
}

#steps .row > .central,hr{
  display: none;
}
#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}




/*versione per ipad*/
@media screen and (width:768px){
  body{
    font-size:15px;
  }
  .row{
    width:750px;
    margin-left:0;
    margin-top:0;
    margin-right:0;
  }

 #lezioni .row > .left, #lezioni .row > .right{
   float:none;
   width:100%;

 }
 #why .row > .first,
 #why .row > .second,
 #why .row > .third {
   width:calc( 80% / 3);
   text-align: left;
 }
 #why .row > .first img,
 #why .row > .second img,
 #why .row > .third img {
   display: none;
 }
 #steps .row > .left,
 #steps .row > .central,
 #steps .row > .right{
   float:none;
   width: 100%;

   text-align: left;
   
   font-size:14px;
   font-family:arial;
 }
}

/*versione per smartphone*/
@media screen and (max-width:400px) {
  .row{
     width:350px;
    margin-left:0;
    margin-top:0;
    margin-right:0;
  }
  #lezioni .row > .left, #lezioni .row > .right{
    float:none;
    width:100%;

  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
  }
  #steps .row > .right hr{
    display: block;
  }
  #steps .row > .left hr{
    display: block;
  }

  #steps .row > .central,hr{
    display: block;
  }
}
/*versione desktop*/
@media screen and (min-width:1000px){

  .row{
     width:auto;
    margin-left:0;
    margin-top:0;
    margin-right:0;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: left;
    width:calc(100%/3);
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width:calc(100%/3);
    margin:0 auto;
    float:left;
    text-align:center;
  }

}
